@import 'mediaqueries.css';
.imagen1{
    width: 300xp;
    padding: 10px, 0px;
    margin-left: -100px;
    float: left;
    padding-right: 50px;
}
.titulo{
    text-align: center;
}  
.tipo{
    text-align: center;
}
.formato{
    text-align: right;
    color: red;
    float:right;
    font-size: 20px;
    font-weight: 900;
}  
.descripcion{
    text-align:left;
    color:black;
    font-family: Arial;
    font-size: 20px;
    box-align:margin-left;
}   
.button-content a:hover{
    box-shadow: none;
    color: black;
}
.btn-trailer{
    background-color: rgb(27, 133, 109);
    padding: 8px 40px;
    font-size: 1.2em;
    font-weight: 900;
    border-radius: 20px;
    border: none;
    margin-left: 100xp;
    color: black;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    box-shadow: 0px 3px 14px 8px rgba(10, 10, 10, 0.78);
    padding-right: 50px;
    border: solid;
    padding-right: 50px;
}
.btn-reserva{
    display: inline-block;
    background-color: rgb(27, 133, 109);
    padding: 8px 40px;
    font-size: 1.2em;
    font-weight: 900;
    border-radius: 20px;
    margin-left: 100xp;
    color: black;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    box-shadow: 0px 3px 14px 8px rgba(10, 10, 10, 0.78);
    padding-right: 50px;
    border: solid;
    margin: 20px;
}
.iconos{
    text-align:right;
    justify-content:right;
    display: flex;
}
.calendar{
    margin-right: 20px;
}
.clock{
    background: none;
    border:none;
    margin-right: 20px;
}

.people{
    margin-right: 20px;
}
.hora a{
    display: block;
    color: black;
    text-decoration: none;
}
.hora{
    background-color: rgb(183, 183, 181);
    display: none;
}
.hora a:hover{
    background-color: rgb(171, 167, 167);
    color: black;
}
.reloj:hover .hora{
    display: block;
}
.movie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.titulomovie{
    justify-content: center;
    padding-top:100px;


}

.movie1 img{
    width: 250px;
    height: 300px;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie2 img{
width: 250px;
height: 300px;
margin:10px;
display: flex;
justify-content: center;
align-items: center;
}
p{
    font-size: 1.8 rem;
}